.container{
    width:50%;
   
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 3%;
    text-align: center;
    background: #dde1e7;
    border-radius: 10px;
    box-shadow: -3px -3px 7px #ffffff73,
    2px 2px 5px rgba(94,104,121,0.288); 
    /* background: linear-gradient(to top,#8a8aa4 50%,#414182 90%)no-repeat; */
}
.content{
    /* width: 60%;
    margin-left: 20%;
    margin-right: 20%; */
    height: 420px;
    overflow: scroll;
    padding-top: 5%;
    padding-bottom: 3%;
    /* background: #dde1e7; */
    border-radius: 10px;
    box-shadow: -3px -3px 7px #ffffff73,
                 2px 2px 5px rgba(94,104,121,0.288); 

} 
::-webkit-scrollbar {
    width: 5px;
  }
h2{
padding-top: 2%;
}
.label{
    border: none;
    width:40%;
    border-bottom: 1px solid rgb(249, 241, 241);
    margin-right: 5%;
    margin-bottom: 17px;
    background: #dde1e7;
    text-align: center;
    font-size: 16px;
}
.label:focus{
  border: 2px solid rgb(72, 0, 255);
  padding: 3px;
  border-radius: 30px 20px;
  background: #dde1e7;
}
::placeholder{
    text-align: center;
    color: black;
}
.value{
  border: 2px solid rgb(72, 0, 255);
  padding: 5px;
  border-radius: 50px 20px;
  background: #dde1e7;
}
button{
    margin-top: 3%;
    padding: 5px;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 30px 20px;
    font-size: 15px;
}
.container .button:hover {
    background-color: black;
    color: white;
  }